:root{
    --darkPink: #F94892;
    --orange: #ff9966;
    --white: #fff;
    --black: #000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scrollbar-width: thin;
    scrollbar-color: var(--white) var(--darkPink);
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: var(--darkPink);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--white);
    border: 3px solid var(--darkPink);
}

.header{
    width: 100%;
    height: 25vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 4vw));
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(40deg, var(--darkPink), var(--orange));
    background-attachment: fixed;
}

.div{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 50px;
}

.border{
    margin: 20px;
    width: 280px;
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 15px;
    line-height: 1.7; 
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

p span{
    color: var(--black);
}

p:not(span){
    color: var(--darkPink);
}

@media screen and (max-width: 768px) {
    .header {
        height: 15vh;
    }
    
    h1{
        font-size: 25px;
    }

    .div {
        margin-top: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }
}